{% extends 'base.html' %}
{% load static %}




{% block contents %}
{% if request.user.is_staff %}

    <!-- {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    
    {% endif %} -->
    {% if messages %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
        {% for message in messages %}
            <p {% if message.tags == "success" %} class="alert alert-success" {% else %} class="alert alert-danger" {% endif %}>{{ message }}</p>

            {% endfor %}
    </div>
    </div>
    {% else %}
    <p class="alert alert-info">{{order}}</p>
    <img src="/static/input_data/img/formatcsv.png" class="img-fluid" alt="Responsive image">
    <p class="alert alert-warning">{{order2}}</p>
    {% endif %}
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload a file </label>
        <input type="file" name="file">
        <p style="color: red">Hanya Menerima File Berformat .CSV</p>
        <button type="Submit" class="btn btn-primary">Upload</button>
        <a href="{% url "inputdata:index" %}" role="button" class="btn btn-info">Kembali</a>
    </form>
    <br>
    <p class="alert alert-danger">Untuk membuat format .csv bisa menggunakan Excel atau Text Editor seperti notepad++, atom dan visual studio code</p>
    {% else %}
    <div class='row'>

            <div class='col-sm-1'></div>
            <div class='col-sm-10'>        
                    <h4 style='margin-left: 36px;'>Hanya User Yang Telah Terkonfirmasi Yang Dapat Mengakses Halaman Ini</h4>
                    </div>

    </div>
    <br>
    <br>
    <div class='row'>

                    <div class='col-sm-2'></div>
                    <div class='col-sm-10'>        
                    <h4 style='margin-left: 20px; color: red;'>Hubungi Administrator Untuk Mengkonfirmasi Akun Anda</h4>
                    </div>
                    
            </div>
            <br>
            <br>
            <div class='row'>

                            <div class='col-sm-5'></div>
                            <div class='col-sm-7'>        
                            <a href="{% url "index"%}" style='margin-left: 20px; font-size:26px'>Kembali</a>
                            </div>
                            
                    </div>
    {% endif %}
{% endblock contents %}