{% extends 'base.html' %}
{% load static %}


{% block contents %}
<div class ='row'>
    
        <div class='col-sm-5'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-2'>
        </div>
        <div class='col-sm-5'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>         
</div>
<br>
<br>
<div class = 'row'>
        <div class='col-sm-3'>
                <canvas id="myChart9" width="400" height="400"></canvas>
        </div>  
        <div class='col-sm-3'>
                <canvas id="myChart3" width="400" height="400"></canvas>
        </div>  
        <div class='col-sm-3'>
                <canvas id="myChart7" width="400" height="400"></canvas>
        </div>  
        <div class='col-sm-3'>
                <canvas id="myChart8" width="400" height="400"></canvas>
        </div>

</div>

<br>
<br>

<div class = 'row'>
        <div class='col-sm-4'>
                <canvas id="myChart4" width="400" height="400"></canvas>
        </div> 
        <div class='col-sm-4'>
                <canvas id="myChart5" width="400" height="400"></canvas>
        </div> 
        <div class='col-sm-4'>
                <canvas id="myChart6" width="400" height="400"></canvas>
        </div>
         
</div>
<div class = 'row'>
        <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Data</th>
                    <th scope="col">Selisih Presentase Penjualan </th>
                  
                </tr>
                </thead>
            
                <tbody>
                {% for key, value in infodata.items %}
                <tr> 
                    <td>{{forloop.counter}}</td> 
                    <td>{{ key }}</td>
                    <td>{{ value }}%</td>
                    <!-- <td>{{ post.bulan_transaksi }}</td> -->
            
               </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock contents %}

{% block jquery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>

var labels = ["jumlah hotel", "jumlah mall", "jumlah apartemen", "C441 Terjual", "C442 Terjual", "C443 Terjual", "C451 Terjual", "C452 Terjual", "C453 Terjual", "C461 Terjual", "C462 Terjual", "C463 Terjual", "Jasa Pembersih Air", "Jasa Pembersih Kerak Sillica", "Jasa Pembersih Cooling Tower", "Jasa Pembersih STP", "Asam Sulfat Terpakai", "Molases Terpakai", "HCL Terpakai", "ABF Terpakai"]           
var all_data_satu = {{datatahunsatu}}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: ' {{labeling1}} ',
            data: all_data_satu, 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(235, 102, 112, 0.2)',
                'rgba(44, 182, 125, 0.2)',
                'rgba(211, 241, 89, 0.2)',
                'rgba(71, 192, 112, 0.2)',
                'rgba(141, 32, 125, 0.2)',
                'rgba(235, 49, 34, 0.2)',
                'rgba(105, 99, 52, 0.2)',
                'rgba(51, 52, 25, 0.2)',
                'rgba(105, 16, 46, 0.2)',
                'rgba(75, 32, 12, 0.2)',
                'rgba(45, 12, 25, 0.2)',
                'rgba(10, 59, 21, 0.2)',
                'rgba(31, 11, 12, 0.2)',
                'rgba(51, 32, 45, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(214, 199, 32, 1)',
                'rgba(114, 162, 35, 1)',
                'rgba(155, 146, 46, 1)',
                'rgba(65, 52, 52, 1)',
                'rgba(73, 52, 15, 1)',
                'rgba(75, 49, 14, 1)',
                'rgba(45, 119, 22, 1)',
                'rgba(54, 122, 35, 1)',
                'rgba(255, 216, 46, 1)',
                'rgba(75, 12, 92, 1)',
                'rgba(23, 12, 55, 1)',
                'rgba(235, 159, 64, 1)',
                'rgba(115, 99, 32, 1)',
                'rgba(41, 22, 65, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var all_data_dua = {{datatahundua}}
var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '{{ labeling2 }}',
            data: all_data_dua,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(235, 102, 112, 0.2)',
                'rgba(44, 182, 125, 0.2)',
                'rgba(211, 241, 89, 0.2)',
                'rgba(71, 192, 112, 0.2)',
                'rgba(141, 32, 125, 0.2)',
                'rgba(235, 49, 34, 0.2)',
                'rgba(105, 99, 52, 0.2)',
                'rgba(51, 52, 25, 0.2)',
                'rgba(105, 16, 46, 0.2)',
                'rgba(75, 32, 12, 0.2)',
                'rgba(45, 12, 25, 0.2)',
                'rgba(10, 59, 21, 0.2)',
                'rgba(31, 11, 12, 0.2)',
                'rgba(51, 32, 45, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(214, 199, 32, 1)',
                'rgba(114, 162, 35, 1)',
                'rgba(155, 146, 46, 1)',
                'rgba(65, 52, 52, 1)',
                'rgba(73, 52, 15, 1)',
                'rgba(75, 49, 14, 1)',
                'rgba(45, 119, 22, 1)',
                'rgba(54, 122, 35, 1)',
                'rgba(255, 216, 46, 1)',
                'rgba(75, 12, 92, 1)',
                'rgba(23, 12, 55, 1)',
                'rgba(235, 159, 64, 1)',
                'rgba(115, 99, 32, 1)',
                'rgba(41, 22, 65, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganHotel =[all_data_satu[0], all_data_dua[0]]
var dataPelangganMall =[all_data_satu[1], all_data_dua[1]]
var dataPelangganApartemen = [all_data_satu[2],all_data_dua[2] ]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'
var tahun = ['{{satusatu}}', '{{duadua}}']

var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Pelanggan Hotel',
            data: dataPelangganHotel,
            backgroundColor: 'rgba(255,255,255, 0)',
            borderColor: [
                'rgba(255, 99, 132, 1)',
               
                
            ],
            borderWidth: 1
        },{
            label: 'Pelanggan Mall',
            data: dataPelangganMall,
            backgroundColor: 'rgba(255,255,255, 0)',
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Pelanggan Apartemen',
            data: dataPelangganApartemen,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganC441 =[all_data_satu[3], all_data_dua[3]]
var dataPelangganC442 =[all_data_satu[4], all_data_dua[4]]
var dataPelangganC443 = [all_data_satu[5],all_data_dua[5] ]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'

var ctx4 = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Produk C441',
            data: dataPelangganC441,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',
               
                
            ],
            borderWidth: 1
        },{
            label: 'Produk C442',
            data: dataPelangganC442,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Produk C443',
            data: dataPelangganC443,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganC451 =[all_data_satu[6], all_data_dua[6]]
var dataPelangganC452 =[all_data_satu[7], all_data_dua[7]]
var dataPelangganC453 = [all_data_satu[8],all_data_dua[8] ]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'

var ctx5 = document.getElementById('myChart5').getContext('2d');
var myChart5 = new Chart(ctx5, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Produk C451',
            data: dataPelangganC451,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',
               
                
            ],
            borderWidth: 1
        },{
            label: 'Produk C452',
            data: dataPelangganC452,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Produk C453',
            data: dataPelangganC453,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganC461 =[all_data_satu[9], all_data_dua[9]]
var dataPelangganC462 =[all_data_satu[10], all_data_dua[10]]
var dataPelangganC463 = [all_data_satu[11],all_data_dua[11]]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'

var ctx6 = document.getElementById('myChart6').getContext('2d');
var myChart6 = new Chart(ctx6, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Produk C461',
            data: dataPelangganC461,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',
               
                
            ],
            borderWidth: 1
        },{
            label: 'Produk C462',
            data: dataPelangganC462,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Produk C463',
            data: dataPelangganC463,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganPembersihAir =[all_data_satu[12], all_data_dua[12]]
var dataPelangganPembersihKerak =[all_data_satu[13], all_data_dua[13]]
var dataPelangganPembersihCoolingTower = [all_data_satu[14],all_data_dua[14] ]
var dataPelangganPembersihSTP = [all_data_satu[15],all_data_dua[15] ]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'

var ctx7 = document.getElementById('myChart7').getContext('2d');
var myChart7 = new Chart(ctx7, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Jasa Pembersih Air',
            data: dataPelangganPembersihAir,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',          
            ],
            borderWidth: 1
        },{
            label: 'Jasa Pembersih kerak',
            data: dataPelangganPembersihKerak,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Jasa Pembersih Cooling Tower',
            data: dataPelangganPembersihCoolingTower,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'Jasa Pembersih STP',
            data: dataPelangganPembersihSTP,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(32, 242, 25, 11)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var dataPelangganAsamSulfat =[all_data_satu[16], all_data_dua[16]]
var dataPelangganMolases =[all_data_satu[17], all_data_dua[17]]
var dataPelangganHCL = [all_data_satu[18],all_data_dua[18] ]
var dataPelangganABF = [all_data_satu[19],all_data_dua[19] ]
var tahunLama = '{{ labeling2 }}'
var tahunPrediksi = '{{ labeling }}'

var ctx8 = document.getElementById('myChart8').getContext('2d');
var myChart8 = new Chart(ctx8, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Asam Sulfat Terpakai',
            data: dataPelangganAsamSulfat,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',          
            ],
            borderWidth: 1
        },{
            label: 'Molases Terpakai',
            data: dataPelangganMolases,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(54, 162, 235, 1)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'HCL Terpakai',
            data: dataPelangganHCL,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(154, 42, 35, 4)'
               
                
            ],
            borderWidth: 1
        },{ 
            label: 'ABF Terpakai',
            data: dataPelangganABF,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(32, 242, 25, 11)'
               
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx9 = document.getElementById('myChart9').getContext('2d');
var datapendapatan = [{{pendapatansatu}}, {{pendapatandua}}]
var myChart9 = new Chart(ctx9, {
    type: 'line',
    data: {
        labels: tahun,
        datasets: [{
            label: 'Pendapatan',
            data: datapendapatan,
            backgroundColor: ['rgba(255,255,255, 0)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',          
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock jquery %}